@font-face {
    font-family: E-Black;
    src: url(../fonts/Estedad-Black.woff2);
}
@font-face {
    font-family:E-bold ;
    src: url(../fonts/Estedad-Bold.woff2);
}
@font-face {
    font-family:E-extrabold;
    src: url(../fonts/Estedad-ExtraBold.woff2);
}
@font-face {
    font-family:E-extralight ;
    src: url(../fonts/Estedad-ExtraLight.woff2);
}
@font-face {
    font-family: E-lighet;
    src: url(../fonts/Estedad-Light.woff2);
}
@font-face {
    font-family: E-medium;
    src: url(../fonts/Estedad-Medium.woff2);
}
@font-face {
    font-family: E-regular;
    src: url(../fonts/Estedad-Regular.woff2);
}
@font-face {
    font-family: E-semibold;
    src: url(../fonts/Estedad-SemiBold.woff2);
}
@font-face {
    font-family: E-thin;
    src: url(../fonts/Estedad-Thin.woff2);
}